/* Fenix - Modular Editor Component */





/*========= DATA ENTRY CONTAINER =========*/
.fx-editor-data-entry-container {
  min-height: 500px;
  overflow: hidden;
}

/*========= MENU =========*/


.fx-editor-menu-container:after {
  position: absolute;
  content: "";
  height: 900px;
  width: 20px;
  top: 0;
  right: -14px;
}

.fx-editor-menu-container .btn-default:hover {
  background-color: #e1dfda;
}


.fx-menu-category-title {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
}






.fx-menu-entity-title {
  text-transform: uppercase;
  text-decoration: none;
}

.fx-menu-sub-entity-title  {
  color: #6e6e6e;
  text-transform: none;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}



/** avoid dotted lines when clicking on button**/
input[type="button"] {
  outline:none;
}

input[type="button"]::-moz-focus-inner{
  border:0;
}

/*========= NAV BAR =========*/

#fx-editor-navbar .dropdown-menu .col-sm-12{margin-bottom:7px;}


/*========= FORM ================*/

.fx-editor-modular-form-container{

  .panel-title{ color: $fx-cool-blue }

}


/* remove x icon in IE 10+ */
input[type=text]::-ms-clear { display: none; }

#fx-editor-form .form-horizontal .control-label {
  text-align: left;
}



#fx-editor-form .fnx-control-subtitle label {
  font-size: 12px;
  font-weight: normal;
}




#fx-editor-form legend
{
  position: absolute;
  cursor: pointer;
  font-size: 12px;
  top: -1.7em;
  border:0
}


#fx-editor-form .fnx-fieldset-1 {
  background: #EEEEFF;
}

#fx-editor-form .fnx-fieldset-2 {
  background: #F3EFE0;
}

#fx-editor-form .fnx-fieldset-3 {
  background: #DCDCDC;
}


#fx-editor-form fieldset .form-group, #fx-editor-form .fnx-fieldset-2 legend span  {
  margin-left: 20px;
}

#fx-editor-form .fnx-fieldset-2 .form-group, #fx-editor-form .fnx-fieldset-3 legend span  {
  margin-left: 50px;
}

#fx-editor-form .fnx-fieldset-3 .form-group {
  margin-left: 70px;
}


/*========== FORM VALIDATOR ICON POSITION ========== */


#fx-editor-form{

  .fx-panel-info, .fx-panel-required, .fx-panel-ok, .fx-panel-remove, .fx-panel-refresh{
    float: none;
    margin:0;
  }
}

/* Adjust feedback icon position */
#fx-editor-form .form-control-feedback {
  top: 7px;
  right: -15px;

}

/* date picker */
.datepicker { font-size: 11px; }

/* tags input picker */
.bootstrap-tagsinput {
  /** problem in IE, placeholder is cut
   font-size: 11px;  **/
}

/**.bootstrap-tagsinput input {
    font-size: 11px;
}    **/

.fx-editor-form-module {
  width: 50%;
  background-color: white;
  border: 10px solid #E3E3E3;
  border-radius: 4px;
  /*margin-bottom: 20px;*/
  min-height: 20px;
  /*    padding: 19px;*/
}

.fx-editor-form-module.fit {
  width: 100%;
}

.fx-editor-modular-form-wrapper {
  /* affects: FF select box display - right border missing
   padding-right: 0; */
  overflow: hidden;
}

.fx-editor-form-module {
  /*padding: 7px;  */
  /*border: 0;   */
  height: 170px;
}



.fx-editor-modular-form-label {
  position: absolute;
  top: 4px;
  left: 30px;
  font-weight: 300;
}

.fx-editor-modular-form-content {
  padding: 10px 10px 10px 10px;
  height: 100px;
}

.fx-editor-mod-timerseries {
  top: 25px;
}


/*========= COMMONS =========*/



.fx-typo-black {
  font-weight: 900;
  text-transform: uppercase;
}

.fx_horegon {
  display: inline;
}








.bs-docs-sidebar.affix {
  position: static;
}
@media (min-width: 768px) {
  .bs-docs-sidebar {
    padding-left: 20px;
  }
}
.bs-docs-sidenav {
  margin-bottom: 20px;
  margin-top: 20px;
}
.bs-docs-sidebar .nav > li > a {
  color: #999999;
  display: block;
  font-size: 13px;
  font-weight: 500;
  padding: 4px 20px;
  cursor: pointer;
}
.bs-docs-sidebar .nav > li > a:hover, .bs-docs-sidebar .nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0);
  border-left: 1px solid $fx-cool-blue;
  color: $fx-cool-blue;
  padding-left: 19px;
  text-decoration: none;
}
.bs-docs-sidebar .nav > .active > a, .bs-docs-sidebar .nav > .active:hover > a, .bs-docs-sidebar .nav > .active:focus > a {
  background-color: rgba(0, 0, 0, 0);
  border-left: 2px solid $fx-cool-blue;
  color: $fx-cool-blue;
  font-weight: 700;
  padding-left: 18px;
}
.bs-docs-sidebar .nav .nav {
  display: none;
  padding-bottom: 10px;
}
.bs-docs-sidebar .nav .nav > li > a {
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 1px;
  padding-left: 30px;
  padding-top: 1px;
}
.bs-docs-sidebar .nav .nav > li > a:hover, .bs-docs-sidebar .nav .nav > li > a:focus {
  padding-left: 29px;
}
.bs-docs-sidebar .nav .nav > .active > a, .bs-docs-sidebar .nav .nav > .active:hover > a, .bs-docs-sidebar .nav .nav > .active:focus > a {
  font-weight: 500;
  padding-left: 28px;
}
@media (min-width: 992px) {
  .bs-docs-sidebar .nav > .active > ul {
    display: block;
  }
  .bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-docs-sidebar.affix {
    position: fixed;
    top: 80px;
  }
  .bs-docs-sidebar.affix-bottom {
    position: absolute;
  }
  .bs-docs-sidebar.affix-bottom .bs-docs-sidenav, .bs-docs-sidebar.affix .bs-docs-sidenav {
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .bs-docs-sidebar.affix-bottom, .bs-docs-sidebar.affix {
    width: 263px;
  }
}

