<div class="row">
    <div class="col-xs-4">
        <div data-role="index">
            <ul></ul>
        </div>
    </div>
    <div class="col-xs-8">
        <div data-role="content"></div>
    </div>
</div>