@import 'utils/fx-utils';

@import 'themes/fx-bootstrap-queries';
@import 'themes/fx-variables';
@import 'themes/fx-material-theme-light';

@import 'base/fx-buttons';
@import 'base/fx-fonts-import';
@import 'base/fx-icons';
@import 'base/fx-radio-checkbox';
@import 'base/fx-typography';
@import 'base/fx-fixed-height';

[data-fenix="metadata-editor"] {








  li[data-section]{
    cursor: pointer;


    &:hover{

      background-color: rgba(black, 0.05);

    }

  }

  .affix  {
    top : 0
  }

  .content {
    display: none;
    //border-style: dashed;

    &.active {
      display: block;
      //background-color: red;
    }
  }

  .index.active {
    //background-color: red;
  }

}

[data-role='index'] {
  .has-error-parent {
    position: relative;

    &:before{
      content:'';
      display: block;
      position: absolute;
      top: 5px;
      left: -35px;
      height: 10px;
      width: 10px;
      background-color: rgba(red, 0.35);
      @include fx-border-radius(50%);
    }

  }

  .has-error{
    position: relative;

    &:before{
      content:'';
      display: block;
      position: absolute;
      top: 5px;
      left: -35px;
      height: 10px;
      width: 10px;
      background-color: red;
      @include fx-border-radius(50%);
    }
  }
}





