[data-fenix="metadata-editor"] {

  .affix  {
    top : 0
  }

  .content {
    display: none;
    //border-style: dashed;

    &.active {
      display: block;
      //background-color: red;
    }
  }

  .index.active {
    //background-color: red;
  }

}