<div>
    <div class="container">

        <div class="row fx-editor-progress-container">
                <div class="col-xs-12 fx-editor-progress">
                    <div id="fx-editor-progress"></div>
                </div>
        </div>

        <div class="row fx-editor-data-entry-container">
            <!-- Nav bar -->
            <div class="col-xs-12" id="fx-editor-navbar">
                <div class="btn-toolbar">
                    <button type="button" disabled="disabled" class="btn btn-primary fx-editor-finish-btn">
                        {{langProperties.saveAndClose}}
                    </button>
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        {{langProperties.copyMetadata}} <span class="caret"></span>
                    </button>
                    <div class="dropdown-menu" >
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                {{langProperties.copyMetadataOfResource}}
                            </div>
                            <div class="col-sm-12">
                                <input type="text" placeholder="{{langProperties.enterResourceIdentificationCode}}" onclick="return false;" class="form-control input-sm" id="rUid" />
                            </div>
                            <br/>
                            <div class="col-sm-12">
                                <input type="text" placeholder="{{langProperties.enterResourceVersion}}" class="form-control input-sm" id="rVersion" />
                            </div>
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-success btn-sm fx-editor-copy-btn">{{langProperties.load}}</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 fx-editor-menu-container">
                <div id="fx-editor-menu"></div>
            </div>
            <div class="col-xs-8 fx-editor-modular-form-wrapper">
                <div id="fx-editor-form" class="fx-editor-modular-form-container"></div>
            </div>
        </div>
    </div>

    <!-- information Modal -->

    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="infoModalLabel">Information</h4>
                </div>-->
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{langProperties.closed}}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>